* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.main {
  position: relative;
  height: 100%;
  width: 100%;
}

.main .main__title {
  width: 100%;
  margin: 0;
  padding: 1em 0;
  font-size: 3em;
  text-align: center;
}

.main-bg-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 44, 44, 0.192);
}

.form {
  margin-top: 25vh;
  background-color: transparent;
}

.form .form__wrapper-shadow {
  position: relative;
  min-width: 320px;
  width: 32%;
  margin: auto;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
  -webkit-box-shadow: 10px 10px 25px #b9b9b9;
          box-shadow: 10px 10px 25px #b9b9b9;
}

.form .form__wrapper-shadow .btn:hover {
  color: cornflowerblue;
}

.form .form__input {
  height: 45px;
  width: 100%;
  padding: .5em;
  padding-right: 4.7em;
  font-size: 1.3em;
  border: none;
  border-radius: 0 10px 10px 0;
}

.form .form__input:focus, .form .form__input:active {
  outline-color: #719eff;
}

.form .btn-block {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 99px;
}

.form .btn-block .btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form .btn-block .btn .icon {
  width: 16px;
  height: 16px;
}

.form .btn-block .form__btn-clear-input {
  visibility: hidden;
}

.form .btn-block .form__btn-clear-input .icon {
  font-size: 0.75em;
  color: #acacac;
}

.form .btn-block .form__btn-generagte {
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
}

.form .btn {
  font-size: 1.3em;
}

.form .btn:focus, .form .btn:active {
  outline-color: #719eff;
}

.form .form__btn-settings {
  position: absolute;
  left: -36px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

[data-title] {
  position: relative;
}

[data-title]:after {
  content: attr(data-title);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: absolute;
  top: 2.8em;
  left: 30%;
  padding: 4px 8px;
  font-size: .75em;
  color: #d8d8d8;
  background-color: #29292e;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

[data-title]:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .4s ease-out .5s;
  transition: all .4s ease-out .5s;
}

.modal-settings {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  margin: auto;
  max-width: 30%;
  min-width: 330px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .5s opacity, .5s visibility ease-in-out;
  transition: .5s opacity, .5s visibility ease-in-out;
}

.modal-settings *:focus,
.modal-settings *:active {
  outline-color: #719eff;
}

.modal-settings .modal-settings-wrapper {
  position: relative;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
}

.modal-settings .modal-settings-wrapper .modal-settings-wrapper__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
}

.modal-settings .content-wrpper__title {
  margin-top: 0;
  padding-right: 40px;
}

.modal-settings .block-attributes {
  font-size: 1.3em;
}

.modal-settings .attribute {
  margin-bottom: 15px;
}

.modal-settings .attribute:nth-child(2) .attribute__sub-title {
  margin-bottom: 10px;
}

.modal-settings .attribute:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-settings .attribute:last-child .checkbox-repeat-symbols {
  height: 1em;
  width: 1em;
  cursor: pointer;
}

.modal-settings .attribute__sub-title {
  margin: 0;
}

.modal-settings .attribute__sub-title_inline {
  display: inline;
  margin-right: 10px;
}

.modal-settings .block-attributes__input-password-length {
  max-width: 55px;
  border: 2px solid #c8c8c8a6;
  border-radius: 5px;
  padding: 1px 4px;
  padding-right: 0;
}

.modal-settings .block-attributes__input-password-length:focus, .modal-settings .block-attributes__input-password-length:active {
  outline-color: #719eff;
}

.modal-settings .symbols-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-settings .symbols-settings .symbols {
  display: inline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 7px;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #0000000f;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.modal-settings .symbols-settings .symbols:hover {
  background-color: #00000028;
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

.modal-settings .symbols-settings .symbols-settings__upper-case-letters_active,
.modal-settings .symbols-settings .symbols-settings__lower-case-etters_active,
.modal-settings .symbols-settings .symbols-settings__numbers_active,
.modal-settings .symbols-settings .symbols-settings__special-symbols_active,
.modal-settings .symbols-settings .modal-settings-wrapper__btn-close {
  background-color: #719eff;
}

.modal-settings .symbols-settings .symbols-settings__upper-case-letters_active:hover,
.modal-settings .symbols-settings .symbols-settings__lower-case-etters_active:hover,
.modal-settings .symbols-settings .symbols-settings__numbers_active:hover,
.modal-settings .symbols-settings .symbols-settings__special-symbols_active:hover,
.modal-settings .symbols-settings .modal-settings-wrapper__btn-close:hover {
  background-color: #4a83ff;
}

.modal-settings .modal-settings-wrapper__btn-close:hover {
  color: #ff5d5d;
}

.modal-settings_transparent {
  opacity: 0;
  visibility: hidden;
}

.error-message {
  position: absolute;
  top: 10.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s opacity, 1s visibility ease-in-out;
  transition: 1s opacity, 1s visibility ease-in-out;
}

.error-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32%;
  min-width: 220px;
  margin: 0 auto;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 10px 10px 15px rgba(255, 0, 0, 0.14);
          box-shadow: 10px 10px 15px rgba(255, 0, 0, 0.14);
  border-radius: 12px;
}

.error-body .error-body__error-img {
  margin-right: 3%;
  font-size: 2em;
  color: red;
}

.error-body .error-body__error-text {
  display: inline;
  margin: 0;
}

.error-body .error-body__error-text span {
  font-weight: bold;
}

.error-message_transparent {
  opacity: 0;
  visibility: hidden;
}

.block-event {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s opacity, .3s visibility ease-in-out;
  transition: .3s opacity, .3s visibility ease-in-out;
}

.event-body {
  padding: 1em;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.14);
}

.event-body .event-body__message {
  margin: 0;
}

.block-event_transparent {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .form [data-title]::after {
    display: none;
  }
  .form .form__btn-settings {
    left: 0;
  }
  .form .form__input {
    padding-left: 1.7em;
  }
}
